:root{
    --grisFormulario: rgb(66, 64, 64);
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

a{
    color: white;
    text-decoration-color: greenyellow;
}

p{
    font-size: 1.9rem;
    line-height: 3rem;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.name{
   font-size: 2.3rem; 
}

h1{
    font-size: 3.5rem;
    width: 80%;
    text-align: center;

}

span{
    text-decoration: underline;
    text-decoration-color: greenyellow;
    text-underline-offset: 0.8rem;
}

.iconos-foto{
    display: flex;
    justify-content: space-around;
    background-image: url("./assets/images/image-profile-desktop.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 28rem;
    width: 16rem;
}

.icono img{
    margin-top: 0.4rem;
    width: 2rem;
}

.contactame{
    text-decoration: underline;
    text-decoration-color: greenyellow;
    text-underline-offset: 2rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.contactame a{
    
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: white 1px solid;
}

.skills .skill h2{
    margin-bottom: 0rem;
}
.skills .skill p{
    margin-top: 1rem;
}

.skill h2{
    font-size: 3.3rem;
}

.proyecto{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.proyectos-cabeza{
    display: flex;
    justify-content: space-between;
    margin: 0rem 0.5rem;
    align-items: center;
    border-top: solid 1px white;
}

.proyectos-cabeza h3{
    font-size: 3.5rem;
}

.proyecto{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.proyectos h2{
    font-size: 2.5rem;
}

.pareja-skills{
    display: flex;
    justify-content: space-around;
}

.pareja-skills p{
    margin-left: 0.9rem;
}

.verpro{
    margin-right: 5rem;
}

.imagen{
    height: 23rem;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.imagen1{
    background-image: url("./assets/images/thumbnail-project-1-large.webp");
}
.imagen2{
    background-image: url("./assets/images/thumbnail-project-2-large.webp");
}
.imagen3{
    background-image: url("./assets/images/thumbnail-project-3-large.webp");
}
.imagen4{
    background-image: url("./assets/images/thumbnail-project-4-large.webp");
}
.imagen5{
    background-image: url("./assets/images/thumbnail-project-5-large.webp");
}
.imagen6{
    background-image: url("./assets/images/thumbnail-project-6-large.webp");
}

.footer{
    width: 100%;
    padding-top: 1rem;
    margin: 0rem;
    background-color: var(--grisFormulario);
}

.footer-head h2{
    font-size: 5rem;
}

.footer-head p{
    margin: 0rem 2% 0rem 2%;
}


.formu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}
.formu input{
    background-color: var(--grisFormulario);
    width: 95%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border: none;
    border-bottom: white 1px solid;
}

.formu .formu-mensaje{
    padding-bottom: 5rem;
}

.formu-boton{
    width: 100%;
    text-align: right;
    margin-top: 2rem;
    margin-right: 2%;
}

.formu-boton button{
    font-size: 2rem;
    border: none;
    background-color: var(--grisFormulario);
    color: white;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    text-underline-offset: 1rem;
}

.footer-pie{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.iconos-footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 750px){

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iconos-foto{
        justify-content: end;
        height: 60rem;
        width: 40rem;
        position: absolute;
        left: 77rem;
        z-index: -1;
    }

    .icono img{
        margin-top: 2.4rem;
        margin-right: 2.3rem;
        width: 2.7rem;
    }

    .hero{
        width: 80%;
        align-items: start;
    }

    .hero h1{
        text-align: left;
        font-size: 9rem;
        width: 70rem;
    }

    .descripcion{
        text-align: start;
        width: 36rem;
    }

    .skills{
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }

    .skill{
        width: 60%;
       text-align: left;
       border-top: none;
    }

    .proyectos-cabeza{
        width: 80%;
    }

    .proyectos-cabeza h3{
        font-size: 6rem;
    }

    .proyectos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        border-top: none;
    }

    .imagen{
        height: 35em;
    }

    .verProCod{
        display: none;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-first{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .footer-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 49%;
    }
    .footer-head p{
        width: 60%;
    }

    .formu{
        width: 49%;
    }

    .footer-pie{
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        border-top: white solid 1px;
    }

    .iconos-footer{
        width: 20rem;
    }

}